<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <h1 class="mb-4">Valoración del Personaje</h1>
    <form action="/save-rating" method="post">
        <!-- Campo oculto para el ID del personaje -->
        <input type="hidden" id="idCharacter" name="idCharacter" value="${idCharacter}">

        <!-- Agregar campo oculto para la URL -->
        <input type="hidden" id="url" name="url" value="${character.url}">

        <div class="mb-3">
            <label for="nameCharacter" class="form-label">Nombre del Personaje:</label>
            <input type="text" id="nameCharacter" name="nameCharacter" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="valoration" class="form-label">Valoración:</label>
            <input type="number" id="valoration" name="valoration" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Comentario:</label>
            <textarea id="comment" name="comment" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
