<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ficha del Personaje</title>
</head>
<body>
<div>
    <div>
        <h1>Valorar personaje</h1>
    </div>
    <div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
        <h1 class="mb-4">Valoración del Personaje</h1>
        <form action="/save-rating" method="post">
            <!-- Campo oculto para el ID del personaje -->
            <input type="hidden" id="idCharacter" name="idCharacter" value="${comment.idChatacter}">

            <!-- Agregar campo oculto para la URL -->
            <input type="hidden" id="url" name="url" value="${comment.url}">

            <div class="mb-3">
                <label for="nameCharacter" class="form-label">Nombre del Personaje:</label>
                <input type="text" id="nameCharacter" class="form-control" th:field="${comment.nameCharacter}" required>
          </div>
            <div class="mb-3">
                <label for="valoration" class="form-label">Valoración:</label>
                <input type="number" id="valoration" class="form-control" th:field="${comment.valoration}"required>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comentario:</label>
                <textarea id="comment" name="comment" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>
</body>
</html>