<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ficha del Personaje</title>
</head>
<body>
<div>
    <div>
        <h1>Ficha del Personaje</h1>
    </div>
    <div>
        <img th:src="${character.image}" alt="Imagen del personaje">
        <h2 th:text="${character.name}"></h2>
        <p>ID: <span th:text="${character.id}"></span></p>
        <p>Estado: <span th:text="${character.status}"></span></p>
        <p>Tipo: <span th:text="${character.types}"></span></p>
        <p>Género: <span th:text="${character.gender}"></span></p>
        <p>Lugar de origen: <span th:text="${character.origin}"></span></p>
        <p>Último lugar conocido: <span th:text="${character.location}"></span></p>
        <p>Valoración media: <span th:text="${character.episodes}"></span></p>
        <p>Valoración de cada usuario: <span th:text="${character.episodes}"></span></p>
        <a th:href="@{'/form-rating?url=' + ${character.url}}">Añadir valoración</a>
    </div>
</div>
</body>
</html>